@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h2 class="text-center mb-4">USE SUA CONTA PARA REALIZAR O LOGIN</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                Lembrar-me
                            </label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <p class="mb-0">
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                        </p>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}