@{
    ViewData["Title"] = "Página Inicial";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="container">
    <div class="coluna-esquerda">
        <p>Minha Agenda</p>
        <p>Vacinas em estoque</p>
        <p>Últimos Atendimentos</p>
    </div>
    <div class="imagem-centro">
        <img src="~/images/dog com lingua .png" alt="Imagem do Centro" />
    </div>
    <div class="coluna-direita">
        <p>Novo Atendimento</p>
        <p>Medicamentos em estoque</p>
        <p>Fila de espera</p>
    </div>
</div>