@{
    ViewData["Title"] = "Página Inicial";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="home-main-content">
    <div class="container">
        <div class="coluna-esquerda">
            <a class="home-link" asp-controller="Agendamentos" asp-action="Index">
                <p>Minha Agenda</p>
            </a>
            <a class="home-link" asp-controller="Vacinas" asp-action="Index">
                <p>Vacinas em estoque</p>
            </a>
            <a class="home-link" asp-controller="Prontuarios" asp-action="Index">
                <p>Últimos Atendimentos</p>
            </a>
        </div>
        <div class="imagem-centro">
            <img src="~/images/dog com lingua .png" alt="Imagem do Centro" />
        </div>
        <div class="coluna-direita">
            <a class="home-link" asp-controller="Agendamentos" asp-action="Create">
                <p>Novo Atendimento</p>
            </a>
            <a class="home-link" asp-controller="ItemEstoques" asp-action="Index">
                <p>Medicamentos em estoque</p>
            </a>
            <a class="home-link" asp-controller="Pacientes" asp-action="Index">
                <p>Fila de espera</p>
            </a>
        </div>
    </div>
</div>