@model ProjetoPetMedDigital.Models.servico

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>servico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoVenda" class="control-label"></label>
                <input asp-for="TipoVenda" class="form-control" />
                <span asp-validation-for="TipoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomeservico" class="control-label"></label>
                <input asp-for="Nomeservico" class="form-control" />
                <span asp-validation-for="Nomeservico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeterinario" class="control-label"></label>
                <select asp-for="IdVeterinario" class ="form-control" asp-items="ViewBag.IdVeterinario"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAgendamento" class="control-label"></label>
                <select asp-for="IdAgendamento" class ="form-control" asp-items="ViewBag.IdAgendamento"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProduto" class="control-label"></label>
                <select asp-for="IdProduto" class ="form-control" asp-items="ViewBag.IdProduto"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdValor" class="control-label"></label>
                <select asp-for="IdValor" class ="form-control" asp-items="ViewBag.IdValor"></select>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
