:root {
    --p-font-size: 16px;
    --h1-font-size: 32px;
    --h2-font-size: 26px;
    --h3-font-size: 22px;
    --h4-font-size: 20px;
    --h5-font-size: 18px;
    --h6-font-size: 16px;
    --label-font-size: 14px;
    --small-font-size: 12px;
    --green: #12AA33;
    --btn-green: #03C03C;
    --btn-green-disabled: #31904E;
    --darkGreen: #00984A;
    --white: #FFFFFF;
    --gray: #F9FAFB;
    --lightgray: #EDEDED;
    --darkBlue: #0D2635;
    --customSelect: #e4e4e4;
    --customSelectHover: #bbbbbb;
    --transparente: #00000000;
    --multiSelectSelected: #0D2635;
    --focusBorda: #000000;
    --red: #900000;
    --yellow: #FFBA00;
    --caribean: #006D6F;
    --indigo: #4B0082;
    --darkGray: #0D2635;
    --pageTitle: #0D2635;
    --header: #0D2635;
    --wrapper: #FFFFFF;
    --font-color: #0D2635;
    --protocoladoColor: #FFFFFF;
    --sidebar: #FFFFFF;
    --disabledText: #dbdbdb;
    --card-text: #FFFFFF;
    --sidebar-color: #0D2635;
    --sidebar-hover: #FFFFFF;
    --color-table: #0D2635;
    --inputText: #0D2635;
    --tableLight: #FFFFFF;
    --tableDark: #F9FAFB;
    --spanColor: #FFF;
    --customBox: #f0f0f0;
    --customBoxDisabledText: #0D2635;
    --footerColor: #a9a9a9;
    --calendar-icon-color: #233d4d;
    --tdBgColor: #FFFFFF;
    --tdTextColor: #0D2635;
    --dropdownHeader: #FAFAFA;
    --dropdownHeaderText: #0D2635;
    --dropdownHeaderHover: #f1f1f1;
    --dropdownHeaderHoverText: #0D2635;
    --dropdownHeaderBorder: #FAFAFA;
    --borderLogin: #03C03C;
    --defaultFontColor: #0D2635;
    --invertedFontColor: #ffffff;
    --fixedHeaderTable: #ffffff;
    /* CORES GRAFICO */
    --bar-color-1: rgba(18, 170, 51, 0.2);
    --bar-border-color-1: var(--green);
    --bar-color-2: rgba(75, 0, 130, 0.2);
    --bar-border-color-2: var(--indigo);
    --bar-color-3: rgba(0, 109, 111, 0.2);
    --bar-border-color-3: var(--caribean);
    --bar-color-4: rgba(144, 0, 0, 0.2);
    --bar-border-color-4: var(--red);
    --bar-color-5: rgba(13, 38, 53, 0.2);
    --bar-border-color-5: var(--darkBlue);
    --chart-title-color: #191919;
    --axis-tick-color: #191919;
    /* CORES TOAST */
    --toastHcolor: var(--darkBlue);
    --toastBcolor: var(--wrapper);
    --toastTitlecolor: var(--white);
    --toastTextcolor: var(--darkBlue);
    --toastBorder: 0px solid transparent;
}

.dark-mode:root {
    --caribean: #00CCCC;
    --indigo: #7D3F98;
    --white: #101214;
    --gray: #212121;
    --lightgray: #191919;
    --darkBlue: #FFFFFF;
    --green: #FFFFFF;
    --darkGreen: #fafafa;
    --pageTitle: #FFFFFF;
    --header: #171717;
    --wrapper: #191919;
    --font-color: #FAFAFA;
    --protocoladoColor: #191919;
    --sidebar: #171717;
    --disabledText: #212121;
    --card-text: #171717;
    --red: #F80000;
    --sidebar-color: #fafafa;
    --sidebar-hover: #000000;
    --multiSelectSelected: #000000;
    --focusBorda: #FAFAFA;
    --color-table: #FFF;
    --inputText: #FFFFFF;
    --tableLight: #424242;
    --tableDark: #212121;
    --spanColor: #000000;
    --customBox: #101214;
    --customBoxDisabledText: #FAFAFA;
    --footerColor: #777777;
    --calendar-icon-color: #FAFAFA;
    --tdBgColor: #191919;
    --tdTextColor: #FAFAFA;
    --dropdownHeader: #191919;
    --dropdownHeaderText: #FAFAFA;
    --dropdownHeaderHover: #171717;
    --dropdownHeaderHoverText: #FAFAFA;
    --dropdownHeaderBorder: #191919;
    --borderLogin: #03C03C;
    --defaultFontColor: #FFFFFF;
    --invertedFontColor: #171717;
    --fixedHeaderTable: #191919;
    /* CORES GRAFICO */
    --bar-color-1: rgba(255, 255, 255, 0.5);
    --bar-border-color-1: var(--green);
    --bar-color-2: rgba(125, 63, 152, 0.5);
    --bar-border-color-2: var(--indigo);
    --bar-color-3: rgba(0, 204, 204, 0.8);
    --bar-border-color-3: var(--caribean);
    --bar-color-4: rgba(248, 0, 0, 0.8);
    --bar-border-color-4: var(--red);
    --bar-color-5: rgba(255, 255, 255, 0.8);
    --bar-border-color-5: var(--darkBlue);
    --chart-title-color: #FAFAFA;
    --axis-tick-color: #FAFAFA;
    /* CORES TOAST */
    --toastHcolor: var(--white);
    --toastBcolor: var(--wrapper);
    --toastTitlecolor: #FAFAFA;
    --toastTextcolor: #FAFAFA;
    --toastBorder: 0px solid transparent;
}

.high-contrast:root {
    --indigo: #7D3F98;
    --caribean: #00FFFF;
    --green: #FF6;
    --btn-green: #00FF00;
    --btn-green-disabled: #8AAE61;
    --darkGreen: #FF6;
    --white: #000000;
    --gray: #000000;
    --lightgray: #7D3F98;
    --darkBlue: #FF4;
    --red: #FF6347;
    --darkGray: #FFF;
    --pageTitle: #000000;
    --header: #000000;
    --wrapper: #000000;
    --font-color: #FF6;
    --multiSelectSelected: #000000;
    --focusBorda: #FF6;
    --protocoladoColor: #000000;
    --sidebar: #000000;
    --disabledText: #dbdbdb;
    --card-text: #000000;
    --border-color: #FF6;
    --sidebar-color: #FF6;
    --sidebar-hover: #000000;
    --color-table: #FFF;
    --inputText: #FF6;
    --tableLight: #000000;
    --tableDark: #000000;
    --spanColor: #000000;
    --customBox: #000000;
    --customBoxDisabledText: #FFFFFF;
    --footerColor: #FFFFFF;
    --calendar-icon-color: #ff6;
    --tdBgColor: #000000;
    --tdTextColor: #FF6;
    --dropdownHeader: #000000;
    --dropdownHeaderText: #FF6;
    --dropdownHeaderHover: #FF6;
    --dropdownHeaderHoverText: #000;
    --dropdownHeaderBorder: #FFF;
    --borderLogin: #03C03C;
    --defaultFontColor: #FF6;
    --invertedFontColor: #000;
    --wrapperBorder: #ff6;
    --fixedHeaderTable: #000000;
    /* CORES GRAFICO */
    --bar-color-1: var(--green);
    --bar-border-color-1: var(--green);
    --bar-color-2: var(--indigo);
    --bar-border-color-2: var(--indigo);
    --bar-color-3: var(--caribean);
    --bar-border-color-3: var(--caribean);
    --bar-color-4: var(--red);
    --bar-border-color-4: var(--red);
    --bar-color-5: var(--darkBlue);
    --bar-border-color-5: var(--darkBlue);
    --chart-title-color: #FF6;
    --axis-tick-color: #FF6;
    /* CORES TOAST */
    --toastHcolor: var(--white);
    --toastBcolor: var(--darkBlue);
    --toastTitlecolor: #FFFFFF;
    --toastTextcolor: #000000;
    --toastBorder: 1px solid #FF6;
}

.bigger-font:root {
    --p-font-size: 19px;
    --h1-font-size: 36px;
    --h2-font-size: 28px;
    --h3-font-size: 26px;
    --h4-font-size: 25px;
    --h5-font-size: 24px;
    --h6-font-size: 23px;
    --label-font-size: 20px;
    --small-font-size: 18px;
    --btn-padding: 0.5% 50px !important;
}

.bigger-spacing:root {
    --spacing: 1.5px;
    --btn-padding: 0.5% 50px !important;
}
