@model ProjetoPetMedDigital.Models.Vacina

@{
    ViewData["Title"] = "Editar Vacina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3">Editar Vacina</h1>

<h4>Vacina</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVacina" /> @* PK: MANTIDO, MAS COMO HIDDEN *@
            <div class="form-group">
                <label asp-for="NomeVacina" class="control-label"></label>
                <input asp-for="NomeVacina" class="form-control" />
                <span asp-validation-for="NomeVacina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProduto" class="control-label"></label>
                <select asp-for="IdProduto" class ="form-control" asp-items="ViewBag.IdProduto"></select>
                <span asp-validation-for="IdProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <select asp-for="IdPaciente" class ="form-control" asp-items="ViewBag.IdPaciente"></select>
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            @* REMOVIDO: Campo Id (BaseModel) *@
            @* REMOVIDO: Campo CreatedAt *@
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-link">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}